* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.boards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.phase-message {
  margin: 0 auto;
  max-width: 700px;
}

.has-white-space-nowrap {
  white-space: nowrap;
}

@media screen and (max-width: 1300px) {
  .boards {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
